@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
}

.connectedUsers {
  display: block;
}

.conceil {
  text-shadow: 0 0 18px black;
  color: transparent;
  user-select: none;
}

.pokercard {
  width: 10vw;
  height: 27vh;
}